*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

.container{
    max-width: 80%;
    
    padding: 34px; 
    margin: auto;
}
.container h1,p{
    text-align: center;
}

input,textarea{
    margin: 11px auto;
    font-size: 15px;
    border: 2px solid black;
    border-radius:5px;
}
.informationDiv{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    
}
label{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.buttonClass{
    font-size: medium;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(199, 180, 235)
}